<style>
    table,th,td {border: lpx solid black;}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<h1> Welcome to Albert's homepage</h1>
<h2> This is my webpage</h2>
<ul>
    <li>Python</li>
    <li>Java</li>
</ul>
<table style="width:30%">
    <tr>
        <th>Python</th>
        <th>Java</th>
    </tr>
    <tr>
        <th>Pytharm</th>
        <th>Eplipse</th>
    </tr>